* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --right-and-inplace-color: #ff9800;
  --right-but-NotInplace-color: #009688;
  --wrong-color: #555;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #333;
}
.game-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
}
.game {
  max-width: 1000px;
  height: 600px;
  width: 1000px;
  margin: 0px auto 0px auto;
  background-color: #eee;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-content: flex-start;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.game-name {
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-weight: 600;
  font-size: x-large;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.try {
  width: 90%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.disable,
input:disabled,
div:disabled,
button:disabled {
  opacity: 50%;
  pointer-events: none;
  cursor: no-drop;
}

.try-number {
  width: 16%;
  padding-right: 10px;
  font-size: 30px;
  font-weight: 500;
}
.left-side {
  width: 60%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: flex-start;
  flex-flow: nowrap column;
  align-items: center;
  .try {
    input {
      width: calc((80% - 20px) / 6);
      height: 60px;
      background-color: #fff;
      border-width: 0 0 3px 0;
      border-color: black;
      outline: none;
      font-size: 40px;
      text-align: center;
      color: black;
      caret-color: #555;
      &:focus {
        outline: 2px #ccc solid;
      }
      &.right-and-inplace,
      &.right-but-not_inplace,
      &.wrong-letter {
        border-bottom: none;
        opacity: 70%;
        pointer-events: none;
        color: white;
      }
      &.right-and-inplace {
        background-color: var(--right-and-inplace-color);
      }
      &.right-but-not_inplace {
        background-color: var(--right-but-NotInplace-color);
      }
      &.wrong-letter {
        background-color: var(--wrong-color);
      }
    }
  }
}
.left-side .try input .active {
  opacity: 100%;
  pointer-events: all;
  color: black;
}
.winner {
  width: 80%;
  margin: 0px auto;
  color: #fff;
  font-size: large;
  position: relative;
  top: 5%;
  font-weight: 500;
  order: 3;
  text-align: center;
  padding: 10px;
  transition-delay: 10ms;
  transition-duration: 0.5s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  span {
    display: block;
    font-size: 50px;
    color: #ff9800;
  }
}
.btn-style {
  border: none;
  color: white;
  height: 40px;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btns {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 40px 0px; */
  order: 2;
  .check-btn {
    width: 60%;
    background-color: orangered;
  }
  .hints-btn {
    width: 38%;
    background-color: #009688;
  }
  .check-btn:hover,
  .hints-btn:hover {
    opacity: 0.9;
  }
}
.right-side {
  width: 40%;
  text-align: center;
  font-weight: 500;
}
.key {
  width: 100%;
  height: 60px;
  padding: 20px;
  font-weight: 700;
}
.color {
  width: 98%;
  height: 60px;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.c1::before,
.c2::before,
.c3::before {
  content: "";
  width: 30px;
  height: 30px;
  margin-left: -40px;
}
.c {
  width: 30px;
  height: 30px;
  margin-top: -40px;
  margin: 0px 10px;
}
.one {
  background-color: var(--right-and-inplace-color);
}
.two {
  background-color: var(--right-but-NotInplace-color);
}
.three {
  background-color: var(--wrong-color);
}
.desc-btn {
  display: none;
}
.appear {
  display: block;
}
.hide {
  display: none;
}
.half-opacity {
  opacity: 30%;
}
.result-pop-up {
  background-color: black;
  position: absolute;
  z-index: 10;
  top: 180px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: ease all 1000;
  -webkit-transition: ease all 1000;
  -moz-transition: ease all 1000;
  -ms-transition: ease all 1000;
  -o-transition: ease all 1000;
  box-shadow: rgb(0, 0, 0, 0.3) -2px 2px 20px 10px;
  .exit {
    width: 100%;
    caret-color: transparent;
    .popup-title {
      width: 100%;
      text-align: center;
      padding: 10px 0px;
      font-weight: 600;
      font-size: larger;
      color: #ff9800;
    }
  }
  .popup-result-area {
    width: 100%;
    margin: 50px 0px;
  }
  .popup-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
    gap: 1%;
    button {
      width: 50%;
    }
    .play-again,
    .close {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .play-again {
      background-color: #ff9800;
    }
    .close {
      background-color: red;
    }
  }
}
@media screen and (max-width: 450px) {
  .right-side {
    display: none;
  }
  .left-side {
    width: 100%;
  }
  .try-number {
    font-size: 25px;
  }
  .game-pop-up {
    width: 80%;
    height: 350px;
    background-color: #000;
    position: absolute;
    z-index: 10;
    top: 180px;
    left: 10%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    .exit {
      width: 100%;
      font-weight: 700;
      display: flex;
      color: white;
      caret-color: transparent;
      cursor: pointer;
      justify-content: flex-end;
      p {
        border-top-right-radius: 5px;
        padding: 10px 15px;
        background-color: red;
      }
    }
    .desc .color {
      background-color: #000;
      color: white;
      font-weight: 600;
    }
    .desc .key {
      color: white;
      font-weight: 800;
      font-size: larger;
    }
  }
  .desc-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: lightseagreen;
  }
  .desc-btn:hover {
    opacity: 0.9;
  }
  .result-pop-up {
    width: 90%;
    height: 370px;
    left: 5%;
    .popup-btns {
      button {
        width: 45%;
      }
      button:hover {
        opacity: 0.9;
      }
    }
  }
}
@media screen and (min-width: 451px) {
  .result-pop-up {
    width: 30%;
    height: 370px;
    position: absolute;
    z-index: 10;
    top: 180px;
    left: 35%;
    .popup-btns {
      button {
        width: 45%;
      }
    }
  }
}
